<!DOCTYPE hyml>
<html>
	<head>
		<title> JavaScript Test </title>
		<meta charset="utf-8"/>
	</head>
	<body>
		<p> Please input grade </p>
		<input type="text" id="demo1"/>
		<input type="button" onclick="getStatus()" value="Get Status"/>
		<div id="message"></div>
		<a href="javascript:void(document.body.style.backgroundColor='yellow');">
		
		Click me! <br/> </a>
		<input type="button" onclick="guessNumber()" value="Guess a number"/>
		<script>
			function getStatus(){
				var grade=document.getElementById("demo1").value;
				var status=(Number(grade)>=55)?"Pass":"Fail";
				document.getElementById("message").innerHTML=status;
			}
			function guessNumber(){
				
				var number=Math.floor((Math.random()*100)+1);
				while(x!=number){
					try{
						var x=prompt("Guess the number");
						if(x=="") throw "empty";
						if(isNaN(x)) throw "not a number";
						x=Number(x);
						if(x<number) throw "too low";
						if(x>number) throw "too high";
						if(x===number) throw "You got it right!";
					}
					catch(err){
						alert("Input is " + err);
					}
				}
			}
		</script>
	</body>
</html>
